{% extends 'catalog/base_generic.html' %}

{% block content %}

  {% if user.is_authenticated %}
    <h1>Вы уже авторизованны</h1>
  {% else %}
    <form class="form" method="post">
      {% csrf_token %}
      <div>
          <p>{{ form.username.label_tag }}</p>
          <p>{{ form.username }}</p>
        <div>
          <p>{{ form.password.label_tag }}</p>
          <p>{{ form.password }}</p>
        </div>
      </div>
      <button class="form__button" type="submit">Вход</button>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  {% endif %}

  {% if form.errors %}
    <h1>Вы ввели неверные данные</h1>
  {% endif %}

{% endblock %}