@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

a {
    transition: all 0.3s ease-in-out;
}

.bg-pink {
    background-color: #ff6699 !important;
}

.text-pink {
    color: #ff6699 !important;
}

.btn-pink {
    background-color: #ff6699;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-pink:hover {
    background-color: #ff3366;
    transform: scale(1.05);
}

.header {
    background-color: #ff6699;
}

.header a {
    color: #d6336c;
}

.header nav{
    display: flex;
    gap: 30px;
}
.card {
    border-radius: 12px;
}

.form-control {
    border-radius: 8px;
}

.alert-danger {
    background-color: #ffccd5;
    border-color: #ff6f91;
    color: #d6336c;
}
